* {
  box-sizing: border-box;
}
body {
  background-color: #17181f;
  color: #aaa;
}
main {
  max-width: 400px;
  margin: 20px auto;
}
form {
  border: 3px solid #30313d;
  border-radius: 10px;
  padding: 5px;
  display: flex;
}
form input[type="text"] {
  background: none;
  border: 0;
  padding: 0 8px;
  display: block;
  width: 100%;
  color: #fff;
}
form button {
  background-color: #61dafb;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
div.tasks {
  background-color: #30313d;
  border-radius: 10px;
  padding: 6px 10px;
  margin-top: 6px;
  display: flex;
}
div.tasks svg {
  height: 20px;
  margin-right: 4px;
}
