* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
}
.main {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
button {
  margin: 10px;
  border: 1px solid #808080;
  border-radius: 10%;
  font-size: 20px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.square {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 0%;
}
button:hover {
  background-color: #808080;
}
.buttons {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
}
