/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
html {
  font-family: "Poppins";
  padding: 60px;
}
.navbar-container {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.grow-list {
  flex: auto;
}
.list {
  display: flex;
  list-style-type: none;
  color: #adadad;
}
.list-item {
  margin: 16px;
}
li:first-of-type {
  color: #000000;
}
.nav-button {
  background-color: #5955b3;
  color: #fff;
  border-radius: 8px;
  height: 56px;
  width: 140px;
  border: none;
  font-size: 16px;
}
.btn {
  padding: 15px 25px;
  height: 74px;
  width: 220px;
  border-radius: 16px;
}
.heading-text {
  color: #3c2f60;
  font-size: 60px;
  line-height: 72px;
}
.heading-text > span {
  color: #5955b3;
}
.description {
  color: #adadad;
  font-size: 20px;
  margin-bottom: 60px;
}
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-container img {
  margin-right: -60px;
}
